<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Start</title>
</head>
<body>
  <h1>Willkommen beim Stundenpanel!</h1>
  <a href="/login">Zum Login</a>
</body>
</html>
